.img{
   width:200px;
   margin-top: 20px;
   margin-bottom: 20px;
}
.p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.div{
    background-color: #414641;
    color: white;
}
.div2{
    background-color: #232523;
    
}
.footer{
    margin-top: 10px;
}

